{% extends 'base.html' %}

{% load static %}

{% block title %}
    Project Management
{% endblock %}

{% block additional_css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <body class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome!</h3>
            <p>This is a Project Management App!</p>
            <p>Find out the Optimal Path to your Project!</p>
        </div>
        <div class="col-md-9 register-right">

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Fill out the information below!</h3>
                    <div class="row register-form">

                        <div class="col-md-6">
                            <div class="explain">
                                <p>.</p>
                                <p style="text-align:center"><u>Welcome to the Project Management App!</u></p>
                                <p style="text-align:center">This application runs on a Django framework
                                    and will be able to find the most optimal path through the use of Ai. Once
                                    complete
                                    you will have the
                                    opportunity to view the suggestion in graph form.</p>
                                <p>.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="Date" class="form-control"
                                       placeholder="How long do you have?"
                                       value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" id="StoryCount" class="form-control"
                                       placeholder="How many stories?"
                                       value=""/>
                            </div>
                            <div class="form-group">
                                <input type="text" id="PeopleNum" class="form-control"
                                       placeholder="How many people?"
                                       value=""/>
                            </div>
                            <a href="{% url 'results' %}">
                                <input type="submit" class="btnRegister" value="Suggest!"/>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </body>
{% endblock %}


     